# backend
PORT="8000"
JWT_SECRET="your-secret-jwt"

# development or production (for secure cookies in backend)
ENVIRONMENT="development"

# redis
REDIS_ADDRESS="redis:6379"
REDIS_USERNAME=""
REDIS_PASSWORD=""
REDIS_DB=0
